.cart-dropdown{
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  padding: 20px;
  background: white;
  top: 80px;
  right: 0;
  z-index: 5;

  .cart-items{
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  button{
    margin-top: auto;
  }
}

